/* Navbar.css */
.navBar {
  padding: 0px 72px 0px 72px;
  align-items: center;
  background-color: var(--navbar-bg-color);
  display: flex;
  justify-content: space-between;
  height: 68px;
}

.navBar div {
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home a{
  width: 50px;;
  color: var(--navbar-text-color);
  text-decoration: none;
  padding: 7px 16px 7px 16px;
  font-size: 16px;
  border-radius: 4px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.network-members a {
  width: 140px;
  color: var(--navbar-text-color);
  text-decoration: none;
  padding: 7px 16px 7px 16px;
  font-size: 16px;
  border-radius: 4px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about a{
  width: 50px;
  color: var(--navbar-text-color);
  text-decoration: none;
  padding: 7px 16px 7px 16px;
  font-size: 16px;
  border-radius: 4px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact a{
  width: 50px;
  color: var(--navbar-text-color);
  text-decoration: none;
  padding: 7px 16px 7px 16px;
  font-size: 16px;
  border-radius: 4px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navBar a:hover {
  background-color: var(--navbar-hover-color);
}

.la-marato-logo {
  width: 140px;
}

.beacon-title {
  color: var(--navbar-text-color);
  text-decoration: none;
  padding: 10px 16px 10px 16px;
  font-size: 16px;
}

.log-in a {
  color: var(--navbar-text-color);
  text-decoration: none;
  padding: 7px 16px 7px 16px;
  border: 1px solid white;
  border-radius: 6px;
  height: 28px;
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in svg {
  font-size: 22px;
  margin-right: 4px;
}

.active a {
  background-color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  height: 28px;
  display: flex;
  align-items: center;
}

.active a {
  color: var(--navbar-bg-color);
}

.active a:hover {
  background-color: white;
}
