.icon-state {
  height: 41px;
  margin-right: 50px;
  margin-left: 6px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: start;
}

.icon-container svg{
    font-size: 21px;
    margin-bottom: 18px;
    color: var(--green-validated-color);
}

.icon-state.small-icon {
  height: 27px;
  margin-right: 50px;
  margin-left: 6px;
}


.state-beacons {
  display: flex;
  width: 100%;
  /* height: 100%; */
  flex-wrap: wrap;
}


.suggestions-box {
  list-style: none;
  padding: 0;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
}

.suggestions-box li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-box li:hover {
  background-color: #f8f8f8;
}
